<%= link_to "Delete", "#",
    class: "btn btn-danger btn-sm",
    data: { bs_toggle: 'modal', bs_target: '#deleteModal' }
%>

<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        Are you sure you want to delete?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <%= button_to 'Delete', locals[:friendPath], method: :delete, class: "btn btn-danger" %>
      </div>
    </div>
  </div>
</div>
